<footer>
  <div class="container">
    <div class="pull-left">
      All Copyrights Reserved To Moe Shaaban -
      <span id="footer-date"></span>
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li>
          <a href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa fa-github-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% include javascript.html %}

<script>
  // Summon The Waves
  appMaster.waves();

  $("#footer-date").text(new Date().getFullYear());

  $("#navScroll").onePageNav();

  $(document).scroll(function () {
    var scroll = $(document).scrollTop();
    if (scroll >= 10) {
      $(".navbar").addClass("dark-header");
    } else {
      $(".navbar").removeClass("dark-header");
    }
  });
</script>
