<footer>
  <div class="container">
    <div class="pull-left">
      &copy; 2026 Moe Shaaban — Senior Applied AI Engineer, Berlin
    </div>
    <div class="pull-right">
      <ul class="list-inline">
        <li>
          <a href="https://www.linkedin.com/in/moeaboueltayb/" target="_blank"><i class="fa fa-linkedin"></i></a>
        </li>
        <li>
          <a href="{{ site.github_url }}" target="_blank"><i class="fa fa-github-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>

{% include javascript.html %}

<script>
  // Summon The Waves
  appMaster.waves();

  $("#footer-date").text(new Date().getFullYear());

  $("#navScroll").onePageNav();

  $(document).scroll(function () {
    var scroll = $(document).scrollTop();
    if (scroll >= 10) {
      $(".navbar").addClass("dark-header");
    } else {
      $(".navbar").removeClass("dark-header");
    }
  });
</script>
