<div class="portfolio-list">
    <div class="row">


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/stateme.png" alt="StateMe">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/StateMe" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/gatewayV2.png" alt="Gateway V2">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/GatewayV2-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/ccadmin.png" alt="CC Admin">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/TMMM" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/gateway.png" alt="Gateway V1">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/GatewayV1-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/oleose.png" alt="Oleose App Landing Theme">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//www.scoopthemes.com/templates/Oleose/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/bondy.png" alt="Bondy">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//www.scoopthemes.com/templates/bondy/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


    </div>
    <!-- /.row -->
</div>
<!-- /.portfolio-list -->
