<div class="portfolio-list">
    <div class="row">


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/gateway.png" alt="Gateway V1">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/GatewayV1-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/carforms.png" alt="CarForms">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/CarForms" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/sayidy.png" alt="Sayidy">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Sayidy-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/khaleej.png" alt="Khaleejiah">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Khaleejiah" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/clouds.png" alt="Clouds">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Logo Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/logos/clouds.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/codesnitch-tile.png" alt="CodeSnitch">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Logo Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/logos/codesnitch.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/evepin.png" alt="EvePin">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/EvePin-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/slikty.png" alt="Silky Admin">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/SkiltyAdmin-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/waffarha.png" alt="Waffarha">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Waffarha" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


    </div>
    <!-- /.row -->
</div>
<!-- /.portfolio-list -->
