<div class="portfolio-list">
    <div class="row">


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/stateme.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/StateMe" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->
        

        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/gatewayV2.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/GatewayV2-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/ccadmin.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/TMMM" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/gateway.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/GatewayV1-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/oleose.png" alt="Oleose App Landing Theme">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//www.scoopthemes.com/templates/Oleose/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->



        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/bondy.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//www.scoopthemes.com/templates/bondy/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/sevenapp.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//www.scoopthemes.com/templates/SevenApp/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/sayidaty.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="//sayidaty.net" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/slikty.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/SkiltyAdmin-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/carloans.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/CarForms/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/cclanding.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/CCLanding/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/khaleej.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Khaleejiah/" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/evepin.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/EvePin-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/waffarha.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="UI Development" class="code"><i class="fa fa-code"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Waffarha" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/sayidy.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Product Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Sayidy-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/silsal.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Invitation Card" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Silsal-JPG/home.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/mutqen-logo.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Logo Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Logos/mutqen.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->


        <div class="col-md-4">
            <div class="thumbnail">
                <img class="img-responsive" src="/assets/img/portfolio/codesnitch.png" alt="...">
                <div class="overlay"></div>
                <div class="features">
                    <a href="javascript:void(0)" data-toggle="tooltip" data-placement="left" title="Logo Design" class="brush"><i class="fa fa-paint-brush"></i></a>
                </div>
                <div class="link">
                    <a href="/portfolio/Logos/codesnitch.jpg" target="_blank" class="visit"><i class="fa fa-external-link"></i> Take a Look</a>
                </div>
            </div>
        </div>
        <!-- /.col-md-4 -->

        

        
    </div>
    <!-- /.row -->
</div>
<!-- /.portfolio-list -->